<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRM Test Automation Suite">

<listeners>
	<listener class-name="com.crmapp.qa.ExtentReportListener.ExtentReporterNG"/>
</listeners>

  <test  name="CRM App Test"> <!-- Test1 -->
    <classes>
      	<class name="com.crmapp.qa.testsuite.LoginPageTest"/>
       	<class name="com.crmapp.qa.testsuite.HomePageTest"/>
      	<class name="com.crmapp.qa.testsuite.ContactsPageTest"/>
      </classes>
      </test>
</suite> <!-- Suite -->